/* General */
body {
  padding-top: 90px;
}
/* Signup */

.signup-prompt {
  /*padding-top: 40px;*/
}

.signup-prompt h1 {
  display: inline;
}

/* Content */

.score h2, h3 {
  display: inline;
}

.span6 {
    background-color: #eeeeee;
}

#add-info .nav li {
    font-size: 24px;
}

#add-info .tab-pane {
    padding: 0 15px 15px 15px;
}

